@use "colors";
@use "layout";
@use "card";

nav {
    @include card.card;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
}

.btn {
    @include card.card;
    @include card.button;

    margin: 16px;

    &:hover {
        border: solid 1px rgba(255, 255, 255, 0.56);
    }

    &.hover {
        border: solid 1px rgba(255, 255, 255, 0.56);
    }

    &:active {
        @include card.incard;
    }

    &.active {
        @include card.incard;
    }
}