html, body {
  margin: 0;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

#root::before, #root::after{
  content: ' ';
  display: table;
}

* {
  box-sizing: border-box;
}